/*!*****************************************************************
Theme Name: KAIROS Canada
Theme URI: http://pixelpress.co/, http://ethicalux.com
Author: EUX, Pixelpress
Author URI: http://pixelpress.co/, http://ethicalux.com
Version: 1.0
Description: Bootstrap based theme for 2015 KAIROS Canada website(s)
Tags: html5, bootstrap, css3, development
*/

/*
	THEME & CONTENT PUBLISHING GUIDE:
	http://getbootstrap.com/css/
	
	!! STOP !!
	Before adding custom CSS here... make sure you are certain you cannot achieve what you want with Bootstrap	
*/

/*
	To be added to main scss sheet
*/

blockquote{
border-left: 5px solid #669;
padding:10px !important;
}

/* 
	Image Alignment 
	WARNING: should defer to Bootstrap framework instead of these (keep here for legacy content)
*/
img.aligncenter {display:block;margin-left:auto;margin-right:auto}
img.alignright {display:inline;margin:0 0 2px 7px;padding:4px}
img.alignleft {display:inline;margin:0 7px 2px 0;padding:4px}
.alignright {float:right}
.alignleft {float:left}

/* 	
	2.7+ Comments 
	RECOMMENDATION: use Disqus for commenting, not WordPress
*/
#comments_wrap ol {list-style:none}
#comments_wrap ol li {border-bottom:1px solid #CCC;margin:0 0 5px}
#comments_wrap .commentmetadata {margin:0 0 10px}
#comments_wrap .comment-author {border-bottom:1px solid #CCC;width:100%;overflow:hidden;padding:0 0 3px;line-height:32px;}
#comments_wrap .comment-author img {float:left;margin:0 10px 0 0}
#comments_wrap .comment-author cite {font-weight:bold}

/* Captions */
.wp-caption {margin:10px;padding-top:4px;text-align:center;}
.wp-caption img {border:0 none;margin:0 0 5px !important;padding:0}
.wp-caption p.wp-caption-text {
	font-size:10px !important;
	line-height: 1.2em !important;
	margin:0;
	padding:0 4px 5px;
	text-align: left;
	color: #909090;
}
.wp-caption .media-credit {float:right;font-size:10px !important;}

/* Events Calendar*/
.tribe-events-calendar th {
	border-color: #62619b;
}
#tribe-events-pg-template .day-heading a{
    background: none repeat scroll 0 0 #ebebeb;
    color: #fff;
}
#tribe-events-bar label{
	font: 12px "PT sans",serif;
	font-weight: 700;
}
.tribe-bar-disabled #tribe-bar-form label {
    font-size: 12px;
}
.tribe-events-sub-nav a {
	font: 16px "PT sans",serif;
}

