
.icon-flickr:before { content: '\e800'; } /* '' */
.icon-rss-1:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-youtube:before { content: '\e804'; } /* '' */
.icon-gplus:before { content: '\e805'; } /* '' */
.icon-vimeo:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-down-open-mini:before { content: '\e80c'; } /* '' */
.icon-up-open-big:before { content: '\e80d'; } /* '' */
.icon-right-open-big:before { content: '\e80e'; } /* '' */
.icon-left-open-big:before { content: '\e80f'; } /* '' */
.icon-down-open-big:before { content: '\e810'; } /* '' */
.icon-up-open-mini:before { content: '\e811'; } /* '' */
.icon-right-open-mini:before { content: '\e812'; } /* '' */
.icon-left-open-mini:before { content: '\e813'; } /* '' */
.icon-home:before { content: '\e814'; } /* '' */