//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: 0px;
  list-style: none;
  background-color: $navbar-inverse-bg;
  border-radius: 0px;
  @include breakpoint($screen-sm-min) {
  	margin-left: -15px;
  }
  > li {
    display: inline-block;
	margin-top: 3px;
    + li:before {
	  font-family: "kairos";
      content: "\e80e"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: $breadcrumb-color;
    }
    
  }

  > .active {
    color: $breadcrumb-active-color;
	font-family: "PT Sans Narrow";
	text-transform: uppercase;
  }
}
