// common vars
$spacer: 44px;

// ####################################################################################################
//
// bootstrap overrides
//
// ####################################################################################################

.btn, input.wpProQuiz_button {
	color: #fff;
	border: 0px solid transparent !important;
	text-transform: uppercase;
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	padding: 14px;
	margin: 30px 0;

	@include transition(all 260ms 0 ease-out);
}
footer .btn{
	margin: -15px 0;
}
.btn-default, input.wpProQuiz_button {
	@include gradient-vertical($blue_light, $blue_dark, 10%, 90%);
	border-radius: 3px;
	&:hover {
		color: #fff;
		border: 0px solid transparent !important;
		text-transform: uppercase;
		font-family: "PT Sans Narrow", sans-serif;
		font-weight: 700;
		padding: 14px;
		background: $blue_dark;
		border-radius: 3px;
	}
}
.dropdown-menu {
	@include breakpoint($screen-sm-min) {
		padding: 0px;
		background: $red_dark;
		border: none;
		border-radius: 0;
		
		a {
			color: $white !important;
			font-family: "PT Sans Narrow";
			text-transform: uppercase;
			font-weight: bold !important;
			padding: 10px !important;
			&:hover {
				background: $red_light !important;	
			}
		}	
		*.active a {
			background: $red_light !important;	
		}
	}
}
.dropdown:hover .dropdown-menu {
	// match with theme/app js (jquery.main.js)
	@include breakpoint($screen-sm-min) {
   		display: block;
    }
 }
// ####################################################################################################
//
// theme features
//
// ####################################################################################################

.carousel-wrapper {
	position: relative;
	padding: 0;
	@include breakpoint($screen-sm-min) {
		@include container-fixed();	
		max-width: $container-sm;
		padding: $spacer 15px;
		margin-top:50px;
	}
	@include breakpoint($screen-md-min) {
		max-width: $container-md;
		margin-top:50px;
	}
	@include breakpoint($screen-lg-min) {
		max-width: $container-lg;
		margin-top:50px;
	}
	width: 100%;
	z-index: 9999;
	.carousel, .carousel-inner, .item {
		height: 320px;
		padding:0px;
		top:0px;
		@include breakpoint($screen-sm-min) {
			background: $black;
			height: 420px; //420px optimal
			box-shadow: rgba(#000000, 0.5) 0px 0px 4px;	
		}
		&.active{
			top:0px;
		}
		.carousel-indicators{
			bottom:-50px;
		}
		.carousel-caption {
			display: table !important;
			text-align:left;
			background-color: rgba(0, 0, 0, 0.5);
			width:100%;
			height:100px;
			left:0px;
			bottom:0px;
			padding:20px 80px;
				
				.contentarea{
					display: table-cell;
					vertical-align: middle;
					h1{
					max-width: 70%;
					font-size: 26px;
					margin:0px;
					}
					p{
					max-width: 70%;
					}
				}
			
				@media(max-width: $screen-xs-max){
				padding:10px 20px;
				height: 100%;
					h1{
					max-width: 100%;
					font-size: 1.5em;
					}
					p{
					max-width: 100%;
					}
				}
				@media(min-width: $screen-sm-min) and (max-width: $screen-sm-max){
					padding:10px 20px;
					h1{
					max-width: 70%;
					font-size: 1.5em;
					}
					p{
					max-width: 70%;
					line-height: 1em;
					}
				}
				@media(min-width: $screen-md-min) and (max-width: $screen-md-max){
					padding:10px 20px;
					h1{
					max-width: 60%;
					font-size: 1.5em;
					}
					p{
					max-width: 60%;
					}
				}	
	
			}
			.carousel-button{
			display: table;
			vertical-align: middle;
			height:100px;
			position:absolute;
			bottom:-4px;
			right:80px;
			z-index: 11;
				@media(max-width: $screen-xs-max){
					bottom:-8px;
					left:20px;
				}
					@media(min-width: $screen-sm-min) and (max-width: $screen-sm-max){
					bottom:-5px;
					right:20px;
				}
				p{
					display: table-cell;
					vertical-align: middle;
				}
			}
			
		h1 a {
			color: $white;
			text-decoration: underline;
		}
		.bg {
			&:after {
				content: "";
				@extend %full-coverage;
				@include gradient-vertical(rgba(#000, 0), rgba(#000, 0.25));	
			}

		}
	}

}
#sidebar ul, .menu, .widget_categories ul {
	list-style-type: none;
	@include rhythm(.5,0,0,1);
	padding: 0;
	li {
		@include rhythm(.5,0,0,.5);
		a {
			text-transform: uppercase;	
			font-family: "PT Sans Narrow", sans-serif;
			font-weight: 700;	
			//line-height: 2em;
			&:hover {
				color: $red_dark !important;
				text-decoration: none;	
			}
		}	
	}
}
#main .menu, .widget-categories,.menu {
	// little tweak
	li {
		&.current-menu-item, &.current-page-ancestor {
			a {
				color: tint($black, 25%) !important;
			}
		}
	}
}
#partners-map {
	position: relative;
	width: 100%;
	height: 400px;
	margin-bottom: $spacer;
}
.widget_nav_menu {
	@include rhythm(0,0,0,2); 
	strong {
		font-family: "PT Sans Narrow";
		font-size: em(20px);
		text-transform: uppercase;
		@include rhythm(1,0,0,0);
	}
}
.date {
	font-family: "PT Sans Narrow";
	font-size: em(18px);
	text-transform: uppercase;
	@include rhythm(0,0,0,0);
}
// ####################################################################################################
//
// wordpress overrides
//
// ####################################################################################################
.wp-caption {
	position: relative;
	margin:10px;
	>.wp-caption-text{
		font-size: .75em !important;
		text-align: center;
	}
	@include clearfix;
	p, .media-credit {
		margin: 0;
		font-size: 13px;
		padding: 8px;
	}	
	img {
		margin: 0 !important;
		@media(max-width: $screen-xs){
		// at mobile size make img 100% of wp-caption container
				width:100% !important;
				height:auto !important;
		}	
	}
	.media-credit {
		position: absolute;
		top: 0;
		right: 0;
		width: auto;
		text-transform: uppercase;
		background: rgba(#fff, 0.25);
		&:before {
			content: "Photo: ";	
		}	
	}
	&.alignright{
		// adding wp default align right to css
		float:right !important;
	
			@media(max-width: $screen-xs){
			// when it is down to phone size, make container 80% viewport size and remove float.
				width:80vw !important;
				float:none !important;
			}
		}
		&.alignleft{
		// adding wp default align right to css
		float:left !important;
	
			@media(max-width: $screen-xs){
			// when it is down to phone size, make container 80% viewport size and remove float.
				width:80vw !important;
				float:none !important;
			}
		}
	}

.media-credit {
	text-align: center;
	color: black;
	font-size: 13px;	
}

// ####################################################################################################
//
// global nav
//
// ####################################################################################################
[class*="global-"] {
	position: relative;
	z-index: 999;
	background: $purple;	

	@include breakpoint($screen-sm-min) {
		height: 250px;
	}
	&[class*="nav"] {
		font-family: "PT Sans Narrow";
		text-transform: uppercase;
		@include rhythm(0,0,0,0);
		padding: 4px 0 !important;
		@include breakpoint($screen-sm-min) {
			padding: 0 !important;
		}
		.navbar-collapse {
			background:  darken($navbar-default-bg, 6.5%);
			border-color: transparent !important;
			@include breakpoint($screen-sm-min) {
				background: none;
			}
		}
		.navbar {
			position: relative;
			z-index: 99;
			margin-bottom: 11px;
			border: 0px solid transparent !important;
			&.navbar-default {
				margin-bottom: 0;	
			}	
		}
		.navbar-brand {
			&:hover {
				background: none !important;	
			}	
		}
		.decor {
			position: absolute;
			top: 0;
			left: 0;
			
			@include breakpoint($screen-sm-min) {
				background: none;
				height: 100%;
				width: 100%;
				overflow: hidden;
			}
		}
		.bg {
			background: $purple;
		}
		#menu-main-menu {
			li {
				@include breakpoint($screen-sm) {
					a {
						padding-left: 8px;
						padding-right: 8px;
					}
				}
				@include breakpoint($screen-sm-max) {
					a {
						padding-left: 15px;
						padding-right: 15px;
					}
				}

			}

		}
		.navbar-nav.jk-tweak {
			// bootstrap nav-right issue
			@include breakpoint($screen-sm-min) {
				//margin-right: -15px !important;
				margin-top: 15px !important;
				li {
					&:last-child {
						margin-left: 4px;
					}
					a {
						background:  $blue_light;
						border-radius: 2px;
						&:hover {
							color: $white !important;	
							background:  $yellow !important;
						}
					}
					&:nth-child(1) {
						a {
							background:  $red_light;	
						}
					}
				}
			}
		}
	}

}
// ####################################################################################################
//
// layout
//
// ####################################################################################################
body {
	background: darken(#fff, 7.5%);	
}
.viewport {
	background: #fff;
	max-width: 1480px;
	margin: 0 auto;	
}

main, section {
	position: relative;
	@include clearfix;
}
main {
	
	> .container{
		margin-top:20px;
	}
	> section:first-child {
		padding-top: 0;	
	}
	[class*="col"] {
		img {
			//width: 100%;	
			box-shadow: rgba(#000000, 0.5) 0px 0px 2px;
			margin-bottom: $spacer/2;
			&.img-responsive {
				width: 100%;
			}
		}	
	}
	// main content links... !!
	 
	h1, h2, h3, h4, h5, h6, p {
		a {
			color: lighten($blue_dark, 10%);
			@include transition(all 260ms 0 ease-out);
			&:hover {
				color: $blue_light;
			}
		}
	}	
	ol {
		li {
			a {
				text-decoration: underline;	
			}	
		}	
	}
	
	// bootstrap override
	.pull-left {
		img {
			margin-right: 22px;	
		}	
	}
	.pull-right {
		img {
			margin-left: 22px;	
		}	
	}
	
	// wp override
	
	img.alignleft, img.alignright {
		padding: 0 !important;
	}
	img.alignleft {
		margin: 22px 22px 22px 0px;	
	}
	img.alignright {
		margin: 22px 0px 22px 22px;
	}
	img.aligncenter {
		margin-top: 22px;
	}
	
}
section {
	padding: 0 0;

	@include breakpoint($screen-sm-min) {
		padding: $spacer 0;
	}
	@include breakpoint($screen-md-min) {
		padding: $spacer*1.5 0 $spacer*1.5;
	}
	
}
hr {
	border-color: rgba($purple, 0.5);	
	border-width: 2px;
	width: 100%;
	@include clearfix;
}
.bg {
	@extend %full-coverage;
	z-index: 0 !important;	
}
.hero {
	position: relative;
	z-index: 9;
	min-height: 320px;
	padding: 0;
	margin-top: 0;
	@include breakpoint($screen-sm-min) {
		min-height: 420px;
		padding: 0;
	}
	color: $white;
	overflow: hidden;
	.container {
		position: relative;
		z-index: 99;
		ul li a, h1 a, p a {
			color: $white;	
			&:hover {
				color: $blue_light !important;	
			}
		}
		[class*="col"] {
			@include breakpoint($screen-sm-min) {
				img {
					margin-top: $spacer*1.5;	
				}
			}
		}
	}
	.widget_nav_menu {
	@include rhythm(2.25,0,0,0); 
	}
	> .bg {
		background-color: $purple;
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
		@include breakpoint($screen-sm-min) {
			background-color: $yellow;
		}
	}
	&:nth-child(2n) {
		z-index: 8;
		> .bg {
			background-color: $red_dark;
		}	
	}
	&:nth-child(3) {
		z-index: 7;
	}
	&:nth-child(4) {
		z-index: 6;
	}
	&.feature {
		.bg {
			background-color: $purple !important;
		}
	}
	&.promo {
		padding: 0 0 $spacer*1.5;
		
		@include breakpoint($screen-md-min){
    		padding: $spacer*1.5 0 $spacer*1.5;
  		}
		
		  		
		.bg {
			background-color: $red_dark;

		}
		hr{
  			border-color: #fff;
  			border-style: solid none;
  			border-width: 1px 0;
  			margin: 18px 0;
  				
		}
		.row {
			[class*="col"]:last-child {
				hr {
				display: none !important;	
				}
			}		
		}
	}
}
.hero + .container {
	//padding-top: $spacer;	
	padding-top:0;
}
.blog{
	h4:first-child{
		margin-top: 0px;
		  @media (max-width: $screen-sm-min) {
    		margin-top: 65px;
  		}
	}
	hr{
		margin:44px 0 0 0;
	}
	main > .container{
		padding-top: 50px;
	}
}
footer {
	background: $purple;
	color: $white;
	margin-top: $spacer;
	h4 {
		@include rhythm(.3,0,0,0);	
	}
	p {
		font-family: "PT Sans Narrow", sans-serif;
		font-weight: 700;
		line-height: 1.2em;
	}
	a {
		text-transform: uppercase;	
		font-family: "PT Sans Narrow", sans-serif;
		font-weight: 700;
		color: $white;
		&:hover {
			color: $blue_light;	
		}
	}
	ul.menu li a {
		color: $white;
		padding: $spacer/10 0;
		display: block;
		&:hover {
			color: $blue_light !important;	
		}
	}
	.row:first-child {
		margin-bottom: $spacer/2;	
	}
	.widget_nav_menu, .widget_nav_menu ul {
		@include rhythm(0,0,0,0); 
	}
}

#surveymonkey{
	// Solves the constrained iFrame view. This view gives us 
	position: relative;
	height:2600px;
	width:auto;
	margin-top:40px;
	box-shadow:none;
	background-color:$white;
		
		@media (min-width:$screen-sm-min){
		height:2250px;
		}
		@media (min-width:$screen-md-min){
		height:2300px;
		}		

	.flex-video{
			@media (max-width:$screen-xs-max){
			height:2690px;
			}
			@media (min-width:$screen-sm-min) and (max-width:$screen-sm-max){
			height:2400px;
			}
			@media (min-width:$screen-md-min){
			height:2300px;
			}
	}

}

// ####################################################################################################
//
// infinite scroll overrides
//
// ####################################################################################################
#infscr-loading {
	img {
		width: auto !important;
		box-shadow: none !important;
			
	}	
}
.infinite-post{
	border-bottom: 2px solid lighten($black-for-reals, 67.5%);
	padding: 20px 0px; 
	@include clearfix;
}
.infinite-btn{
	margin: 20px 0px;
}
#infscr-loading{
	margin: 20px 0px;
}
// ####################################################################################################
//
// woocommerce overrides
//
// ####################################################################################################

.container.cart {
	img {
		width: auto !important;	
		box-shadow: none !important;
	}	
}
ul.products {
 	a h3 {
		color: $purple;
		text-decoration: underline; 
	}	
}
.cart_totals tr th {
	padding-right:24px!important;
}

.cart_list.product_list_widget {
		li {
			border-top: 1px solid $blue_light;
			padding-top: 6px !important;
			padding-bottom: 6px !important;
			a {
				text-decoration: none !important;
				line-height: 1em !important;	
				&.remove {
					margin-top: 8px;
				}
			}	
		}
}
.shop_table.order_details .product-name small a {
	font-size: 16px;
	padding: 4px;
	color: #4e4be7;
	background: #F2F2D9;
	text-decoration: underline;
	margin-top: 6px;
	display: inline-block;
}

#shipping_method li label{
	margin-left:22px;
}

ul.order_details {
	background: #a9a8e7;
	padding: 8px;
}
.pagination a  {
	text-decoration: none !important;	
}
.pagination .current  {
	background: #ddd !important;	
	color: #4e4be7;
}
.pagination {
	border-radius: 0px !important;	
}

.onsale{
	z-index: 9999;
	margin: -.5em -1.5em 0 0 !important;
	color:#fff !important;
}
form#searchform{
	margin-top:.5em;
}

// ####################################################################################################
//
// tribe events overrides
//
// ####################################################################################################

#tribe-events {
	* {
		text-align: left !important;	
	}
	.tribe-events-button {
		padding: $spacer/3 !important;
		background: $blue_dark;	
		font-family: "PT Sans Narrow";
		font-size: em(14px);
		text-transform: uppercase;
		&:hover {
			background: $blue_light;
		}
	}
	hr {
		border-color: rgba($purple, 0.5) !important;	
		border-width: 2px !important;
	}
}
.tribe-events-meta-group{
	width: 49.3333% !important;
}

 .tribe-events-venue-map{
 	width:92% !important;
 }

.single-tribe_events .tribe-events-event-meta {
	dl {
		font-size: 16px !important;	
	}
}

.single-tribe_events .tribe-events-event-meta{
	dd{
		font-size: .75em;
		display:block;
	}
} 
	

// ####################################################################################################
//
// BERC specific
//
// ####################################################################################################

//global nav change
[class*="global-"] {
	&.berc {
		background: $red_light;	
		.bg {
			background: $red_light;	
		}
		.navbar-inverse {
			background: $red_dark;
		}
		.navbar-collapse {
			background: $red_light;	
		}
		* a:hover {
			background-color: $red_dark !important;
			color: $white !important;
		}
		* ul li > ul li a:hover, * ul li > ul li.active a {
				background-color: shade($red_dark, 35%) !important;
		}
		.navbar-nav.jk-tweak {
			@include breakpoint($screen-sm-min) {
				a {
					background:  $red_dark !important;
					&:hover {
						color: $white;	
						background:  $yellow !important;
					}
				}
			}
		}
	}
}
// hero height
*.no-touch {
	.home.berc .hero {
		min-height: 75vh;
		padding-bottom: $spacer*2;
	}
}

.wpProQuiz_questionList{
	border: none !important;
	background-color: #f0eff5 !important;
}

.wpProQuiz_response{
	border-shadow: none !important;
	background: none !important;
}


// ####################################################################################################
//
// fancy browsers (full design)
//
// ####################################################################################################
*.cssmask {
	[class*="global-"] {
		.bg {
			@include breakpoint($screen-sm-min) {
				-webkit-mask: url(../images/bg.01.png) bottom center / contain;
			}
		}
	}
	.hero {
		> .bg {
			@include breakpoint($screen-sm-min) {
				-webkit-mask: url(../images/bg.01.png) bottom center / contain;
			}
		}
	}	
}

// ####################################################################################################
//
// non-fancy browsers (partial design)
//
// ####################################################################################################
*.no-cssmask.no-csstransforms {
	body:not([class*="home"]) {
		.global-nav {
			margin-bottom: $spacer;
		}		
		.hero {
			margin-top: -$spacer;
			margin-bottom: $spacer;	
		}
	}
}
*.csstransforms {
	[class*="global-"] {
		@include breakpoint($screen-sm-min) {
			background: none;
			height: 270px;
		}
		.bg {
			@include breakpoint($screen-sm-min) {
				width: 110%;
				height: 500px;
				@include transform(translateY(-50%) translateX(-5%) rotate(-2.0deg));
			}
		}
	}
	body.home {
		.global-nav {
			.bg {
				@include transform(translateY(-50%) translateX(-5%) rotate(-2.0deg));
			}
		}	
	}
	.hero {
		@include breakpoint($screen-sm-min) {
			margin-top: -130px;
			padding: $spacer/2 0 $spacer*2;
			width:100%;
		}
		> .bg {
			@include breakpoint($screen-sm-min) {
				width: 110%;
				@include transform(translateY(-9%) translateX(-5%) rotate(2.00deg));
			}
		}
		&:nth-child(2n) {
			> .bg {
				@include breakpoint($screen-sm-min) {
					@include transform(translateY(-5%) translateX(-5%) rotate(-2.00deg));
				}
			}	
		}
		&.promo {
			padding: $spacer 0 $spacer*1.5;

			@include breakpoint($screen-sm-min) {
				padding: $spacer*3 0 $spacer*2;
			}
			.bg {
				@include breakpoint($screen-sm-min) {
					@include transform(translateY(-5%) translateX(-5%) rotate(2.00deg));
				}
			}
		}
	}	
}